<div class = "user-menu">
    <div class ="left-side-rank">
        <div class="normal-nav-button"><div class="map-image"></div>Map</div>
        <div class="normal-nav-button"><div class="premium-image"></div>Premium</div>
    </div>

    <div class ="right-side-rank">
            <div class="normal-nav-button"><div class="profile-image"></div>Profile</div>
            <div class="normal-nav-button" (click)="router.navigate(['logout'])"><div class="logout-image"></div>Logout</div>
    </div>
</div>
<div class="user-rank">
    <div class="rank">
        <div class="rank-image"></div>Rank: 1000
    </div>
    <div class="rank">
            <div class="gold-image"></div>Gold: 1000
    </div>
    <div class="rank">
        <div class="gem-image"></div>Gems: 1000
    </div>
</div>